.secao-bovina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secao-bovina__div{
    /* background-color: aqua; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.secao-bovina__slogan{
    background-color: yellow;
    width: 330px;
    text-align: center;
    padding:5px 19px;
    margin-top: 27px;
    color:#c42633;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    line-height: 20px;
}
.secao-bovina__garfo{
    padding: 30px 0;
}
.carnes{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(245, 245, 245);
    box-shadow: 3px 3px 6px rgb(189, 189, 189);
    margin-bottom: 55px;
}

.img-bovino{
    height: 210px;
    /* background-color:aqua; */
}
.descricao-bovino{
    text-align: center;
    padding:0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #525252;
    
    
}
.preco-bovino{
    padding:15px 0 ;
    font-family: 'Roboto', sans-serif;
    color: #383838;
    font-weight: 600;
    font-size: 20px;
}
.adicionar{
    height: 45px;
    padding-bottom: 15px;
}